@use "../../lib/colors";
@use "../../lib/spacing";

.checkboxContainer {
  cursor: pointer;
}

.checkbox {
  position: relative;
  height: spacing.$medium;
  width: spacing.$medium;
  background-color: colors.$black90;
  border: 2px solid colors.$black40;
  border-radius: spacing.$xsmall;
  background-color: colors.$black90;
}

.checkboxChecked::after {
  content: "✓";
  position: absolute;
  top: -3px;
  left: 0px;
  font-size: 13px;
}
