@use "../../lib/colors";
@use "../../lib/spacing";

.sampleAgents {
  width: 100%;

  th {
    text-align: left;
  }

  th,
  td {
    padding: spacing.$xsmall;
  }

  tr td:first-child {
    border-top-left-radius: spacing.$xsmall;
    border-bottom-left-radius: spacing.$xsmall;
  }
  tr td:last-child {
    border-top-right-radius: spacing.$xsmall;
    border-bottom-right-radius: spacing.$xsmall;
  }

  tbody td:last-child {
    text-align: right;
  }
}

.colContainer {
  max-width: 768px * 2;
  margin: auto;
}

.selectedAgent {
  background-color: colors.$black70;
  border-radius: spacing.$xsmall;
}

.checkboxContainer {
  cursor: pointer;
}

.checkbox {
  position: relative;
  height: spacing.$medium;
  width: spacing.$medium;
  background-color: colors.$black90;
  border: 2px solid colors.$black40;
  border-radius: spacing.$xsmall;
  background-color: colors.$black90;
}

.checkboxChecked::after {
  content: "✓";
  position: absolute;
  top: -3px;
  left: 0px;
  font-size: 13px;
}
