@use "../../lib/colors";

.sampleAgents {
  width: 100%;

  th {
    text-align: left;
  }

  tbody td:last-child {
    text-align: right;
  }
}

.colContainer {
  max-width: 768px * 2;
  margin: auto;
}

.selectedAgent {
  background-color: colors.$black70;
}
