@use "sass:color";
@use "../../lib/colors";
@use "../../lib/spacing";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: spacing.$xsmall;
  text-decoration: none;
  cursor: pointer;

  border: 1px solid colors.$black70;
  // border: 1px solid colors.$brandDark;
  background-color: colors.$black80;
}

.button:hover {
  text-decoration: none;
  // background-color: black;
  background-color: colors.$black70;
  // background-color: darken(colors.$brandDark, 0.8);
}

.buttonText {
  color: colors.$black20;
}

.button.disabled,
.button.disabled:hover {
  background-color: colors.$black60;
  border-color: colors.$black90;
}
