@use "sass:color";
@use "../../lib/colors";
@use "../../lib/spacing";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: spacing.$xsmall;
  text-decoration: none;
  cursor: pointer;

  background-color: colors.$brand;
}

.button:hover {
  text-decoration: none;
  background-color: darken(colors.$brand, 0.8);
}

.buttonText {
  color: colors.$black90;
}

.button.disabled,
.button.disabled:hover {
  background-color: colors.$black60;
  cursor: not-allowed;
}

.disabled .buttonText {
  color: colors.$black30;
}
